body{
    position: absolute;
    width: 100%;
    background-image: url(/images/travel.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Great Vibes', cursive;
}
#main-heading{
    display: flex;
    justify-content: center;
    font-size: 70px;
    background: lightsteelblue;
}
.main-container{
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
#card-holder{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
}
.country-card{
    margin: 15px;
    padding: 10px;
    border: 5px solid lightblue;
    border-radius: 10%;
    display: inline-grid;
    align-items: center;
    background: aliceblue;
}
.country-card h3{
    margin: 0 auto;
    font-size: 30px;
}
.country-card img{
    width: 250px;
    height: 170px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.country-card textarea{
    width: 244px;
    height: 55px;
    overflow: scroll;
    resize: none;
}
.diary-card{
    border: 5px solid lightblue;
    border-radius: 20px;
    position: relative;
    width: 50%;
    margin: 10px auto;
    padding-left: 20px;
    font-size: 20px;
    background: aliceblue;
}
.diary-card p{
    padding: 0 40px;;
}
.del-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: lightblue;
    border-radius: 10%;
}
.submit{
    border-radius: 10%;
    background: lightblue;
    border: 3px dotted lightsteelblue;
}
.visited{
    border: 5px solid rgb(204,132,187);
}